:root {
    --mobile: 576px;
    --tablet: 768px;
    --ipad: 992px;
    --notebook: 1200px;
    --deskotop: 1400px;
    --hover-orange:  #FF6224;
    --text-color-white: #edebe6;
    --bg-primary: #403b33;
    --header-footer: #94c7b6;
    --bg-secondary: #d6e1c7;
  } 
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color-white);
    text-decoration: none;
    /* border: 1px solid blue; */
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--bg-primary);
}

main {
    display: block;
}

img {
    border-style: none;
}